/*<--Hacemos que todos los elementos tengan una animación de transición-->*/
* { box-sizing: border-box; transition: 0.4s ease all; }

/*<--Fondo de la web-->*/
body {
background: url("https://bitcoinmaniagame.com/app/images/homepage/sity_2.png");
background-attachment: fixed;
background-color: #1e0150;
color: white;
background-size: cover;
font-family: 'Apple II Screen Typeface', sans-serif;
font-size: 20px;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
margin: 20%;
margin-top: 10%;   
}

/*<-Player del en vivo para la sección de home->*/
.playerAudio {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 8%;
}

/*<--Imagen de la institución (home)-->*/
.content_image {
width: 40%;
border-radius: 27px;
}

/*<-Establecemos el tamaño de las imágenes en el apartado de beneficio->*/
.img_beneficios{
width: 33%;
}

/*<--Apartado en donde creamos un estilo para la animación de algunas cajas, además de crear cajas para la sección de (HOME)-->*/
#show_red {
animation: typing 5s steps(40) 1s 1 normal both, blink 1s steps(1) infinite;
border-right: 0.1em solid #F92525;
border: inset #F92525;
}

/*Creamos una animación que comience con el tamaño desde 0*/
@keyFrames typing { from { width: 0} }

/*Y luego vaya cambiando el color a transparente cuando llegue al 50% (porque básicamente será una luz intermitente que se muestre y desaparezca cada 5s)*/
@keyFrames blink { 50% { border-color: transparent} }


/*<-Caja en donde estarán las otras cajas (xd)->*/
.manager_box{
display: inline-flex;
position: relative;
top: 50%;
}

/*<-Caja general->*/
.box {
color: white;
position: relative;
width: 40%;
height: 45%;
font-size: 19px;
padding: 10px;
margin: 10px;
}


/*<-Sección dedicada para clases y/o aumentar tamaño de letras o cambiar colores-->*/
.title_big { font-size: 30px; }

/*<--Navegador-->**/
.nav {
height: 62px;
width: 100%;
background: black;
background-color: rgb(0 0 0 / 60%);
position: fixed;
top: 0%;
}

/*Sí el navegador es mayor que el nav-heador, se pone el siguiente estilo*/
.nav > .nav-header { display: inline; }

/*<-Sí el tamaño del nav es mayor que el header y el título, se hará el siguiente código->*/
.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
font-weight: 15px;
color: brown;
float: left;
position: relative;
padding: 10px 10px 10px 10px;
}

/*<-Sí el nav es mayor que la clase en donde aparece el título, se ejecuta el siguiente código->*/
.nav > .nav-btn { display: none; }

/*<-Sí el nav es mayor que los links del nav, se ejecuta el siguiente código->*/
.nav > .nav-links { font-size: 18px; left: -10%; position: relative; }

/*<-Sí el navegador es mayor que los links y a, se ejecuta el siguiente código->*/
.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: #efefef;
}

/*<-Sí el nav es mayor que los enlaces y el link del hover, entonces el background se hace transparente->*/
.nav > .nav-links > a:hover { background-color: rgba(0, 0, 0, 0.3); }

/*<-Sí el navegador es mayor que el nav-check, no se muestra nada->*/
.nav > #nav-check { display: none; }

/*<-Sí la resolucion está en 600px, sucede el siguiente código->*/
@media screen and (max-width: 600px) {

/*<-Por defecto dejamos las posiciones definidas del nav-btn (título de la web)->*/  
.nav > .nav-btn {
display: inline-block;
position: absolute;
right: 0%;
top: 0%;
  }

/*Lo mismo de hace 1 dorito*/  
.nav > .nav-btn > label {
display: inline-block;
width: 50px;
height: 50px;
padding: 13px;
  }

/*<-Cuando ya tenemos el navegador verificamos realizamos lo siguiente->*/
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label { background-color: rgba(0, 0, 0, 0.3); }

/*<-Sí el navegador es mayor al tamaño del título, label y span sucede lo siguiete->*/  
.nav > .nav-btn > label > span {
display: block;
width: 25px;
height: 10px;
border-top: 2px solid #eee;
}

/*<-Sitio en donde aparecen los links->*/
.nav > .nav-links {
position: absolute;
display: block;
width: 19%;
height: 17px;
font-size: 11px;
background: linear-gradient(to bottom right,rgba(68, 18, 83, 0.767),rgba(35, 28, 131, 0.774));
transition: all 0.3s ease-in;
/*overflow-y: hidden;*/
top: 49px;
left: 81%;
  }

/*<-El player de la música->*/
.main{
min-width: 70%;
left: 16%;
position: absolute;
}

/*Seguimos adaptando los tamaños*/
.nav > .nav-links > a { display: block; width: 100%; }

/*<-Sí el navegador no fue checado dejamos la altura como 0%->*/  
.nav > #nav-check:not(:checked) ~ .nav-links { height: 0%; }

/*<-Si logramos tener verificado el navegador, realizamos el calculo del tamaño de la altura de los links->*/
.nav > #nav-check:checked ~ .nav-links { height: calc(100vh - 50px); overflow-y: auto; } }

/*<-Zona de Scrollbar->*/
::-webkit-scrollbar { width: 10px; }

/*El deslizador*/
::-webkit-scrollbar-track { background: #0d052e; }

/*El fondo*/
::-webkit-scrollbar-thumb { background: #0737FA; }

/*Cuando alcanza el limite (xD?)*/
::-webkit-scrollbar-thumb:hover { background: #555; }

/*<--Apartado dedicado al Responsive-->*/

/*Telefono*/
@media screen and (max-width: 800px){ 

/*<-Cambiamos el margen de la web, así se cambia la manera de ver las cosas al usuario->*/
body{
margin: 20%;
margin-top: 40%; 
font-family: 'Apple II Screen Typeface', sans-serif;
}

/*<-Navegador adaptado->*/
.nav-links{
display: inline;
font-size: 18px;
left: 19%;
position: relative;
}
    
/*<--Imagen de la institución (home)-->*/
.content_image {
width: 90%;
border-radius: 35px;
}

/*<-Cambiamos los atributos de box para adaptarlo->*/
.box {
color: white;
position: relative;
width: 70%;
height: 25%;
font-size: 13px;
padding: 5px;
margin: 7px;
  } 

/*<-Caja en donde estarán las otras cajas (xd)->*/
.manager_box{
display: block;
position: relative;
top: 50%;
    }
}

